@model SWP_BookingTicket.Models.ViewModels.ShowtimeVM
<div class="container my-5">
    <h3 class="text-primary">New Showtime</h3>
    <hr />
    <form method="post" asp-action="Create" asp-controller="Showtime">
        <div class="row">
            <div class="my-3">
                <label asp-for="@Model.Showtime.Date" class="form-label">Date</label>
                <input asp-for="@Model.Showtime.Date" class="form-control">
                <span asp-validation-for="@Model.Showtime.Date" class="text-danger"></span>

            </div>
            <div class="col-12 mt-5">
                <label asp-for="@Model.Showtime.Movie">Movie</label>
                <select asp-for="@Model.Showtime.Movie.MovieName" asp-items="@Model.MovieList"></select>

            </div>
            <div class="my-3">
                <label asp-for="@Model.Showtime.Room.CinemaID" class="ms-2">Cinema:</label>            
                <select id="cinemaSelectList" asp-for="@Model.Showtime.Room.CinemaID" asp-items="@Model.CinemaList"></select>
            </div>
            <div class="my-3">
                <label asp-for="@Model.Showtime.Room.RoomID" class="ms-2">Room:</label>
                <select id="roomSelectList" asp-for="@Model.Showtime.Room.RoomID" asp-items="@Model.RoomList"></select>
            </div>


        </div>
        <button type="submit" class="btn btn-primary my-3">Create</button>
        <a asp-controller="Showtime" asp-action="Create" class="btn btn-secondary my-3" style="width:200px">
            Back to Showtime list
        </a>
    </form>
</div>


@*Validate on client side*@
@section Scripts {
    @{
        <script type="text/javascript" src="~/js/showtime.js"></script>
    }
}

