@model List<Ticket>

<!-- Include DataTables CSS -->
<div class="container">
    <h2 class="m-2 mb-5">Your Tickets</h2>

    @if (Model.Count == 0)
    {
        <p>No tickets found.</p>
    }
    else
    {
        <table id="ticketsTable" class="table">
            <thead>
                <tr>
                    <th>#</th> <!-- Row number column -->
                    <th>Movie Name</th>
                    <th>Showtime</th>
                    <th>Cinema</th>
                    <th>Room</th>
                    <th>Seat</th>
                    <th>Price</th>
                    <th>Booked Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td></td> <!-- Empty td for row number -->
                        <td>@ticket.Showtime.Movie.MovieName</td>
                        <td>@ticket.Showtime.Date.ToShortDateString() @ticket.Showtime.Time:@ticket.Showtime.Minute</td>
                        <td>@ticket.Showtime.Room.Cinema.CinemaName</td>
                        <td>@ticket.Showtime.Room.RoomName</td>
                        <td>@ticket.Seat.SeatName</td>
                        <td>$@ticket.Total</td>
                        <td>@ticket.BookedDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<!-- Include DataTables JS -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ticketsTable').DataTable({
                "rowCallback": function (row, data, index) {
                    var api = this.api();
                    var page = api.page();
                    var start = page * api.page.len();
                    var counter = start + index + 1;
                    $('td:eq(0)', row).html(counter);
                }
            });
        });
    </script>
}
